
@media only screen and (max-width: 1024px) {
    body {
        margin-left: 0%;
        margin-right: 0%;
        margin-bottom: 0%;
    }
    
    .center-text, .center {
        display: grid;
        place-content: center;
    }
    
    p.center-text {
        font-size: 8px;
        color: grey;
    }   

    .circle-container {
        display: flex;
        justify-content: center;
    }

    .circle-container a img {
        height: 40px;
        width: 40px;
    }

    .circle-container a span {
        display: none;
    }

    .main {
        display: none
    }

    .background-image {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        background-size: 100%;
        background-image: url("images/background.jpg");
        background-repeat: no-repeat, no-repeat;
        min-height: 400px;
        width: 100%;
    }

    .contact-header {
        color: white;
        margin-top: 2px;
        font-size: 8px;
    }
    
    .contact-text {
        color: white;
        font-size: 6px;
    }

    .line {
        margin-top: 2px;
    }
    
    .line input {
        font-size: 6px;
    }
    
    .confirm {
        margin-top: 10px;
        font-size: 6px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .message {
        line-height: 3.5em;
    }

    .span {
        color: rgba(65, 120, 223, 0.932);
    }

    .submit {
        margin-top: 8px;
        display: grid;
        place-content: center;
    }
}


@media only screen and (min-width: 1024px) {

body {
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
}

.center-text {
    display: grid;
    place-content: center;
}

p.center-text {
    font-size: 8px;
    color: grey;
}


.circle-container {
    position: relative;
    width: 18em;
    height: 18em;
    padding: 2.8em;
    border: solid 1px gray;
    border-radius: 50%;
    margin: 4em auto 0px;
}

.circle-container a {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4em;
    height: 4em;
    margin: -2em;
    text-decoration: none;
    color: black;
}

.main {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18em !important;
    height: 18em !important;
    margin: -9em;
}

.circle-container img {
    display: block;
    width: 100%;
}

.circle-container span {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 8px;
    min-width: max-content;
  }

.circle-container img.center {
    display: flex;
    width: 300px;
    height: 300px;
    transform: translate(-40%, -40%);
}

.container {
    background-color: red;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.deg0 {
    transform: translate(12em);
    display: flex; align-items: center;
}

.deg30 {
    transform: rotate(30deg) translate(12em) rotate(-30deg);
}

.deg60 {
    transform: rotate(60deg) translate(12em) rotate(-60deg);
}

.deg90 {
    transform: rotate(90deg) translate(12em) rotate(-90deg);
}

.deg120 {
    transform: rotate(120deg) translate(12em) rotate(-120deg);
}

.deg150 {
    transform: rotate(150deg) translate(12em) rotate(-150deg);
}

.deg180 {
    transform: rotate(180deg) translate(12em) rotate(-180deg);
}

.deg210 {
    transform: rotate(210deg) translate(12em) rotate(-210deg);
}

.deg240 {
    transform: rotate(240deg) translate(12em) rotate(-240deg);
}

.deg270 {
    transform: rotate(270deg) translate(12em) rotate(-270deg);
}

.deg300 {
    transform: rotate(300deg) translate(12em) rotate(-300deg);
}

.deg330 {
    transform: rotate(330deg) translate(12em) rotate(-330deg);
}

.background-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    background-size: 100%;
    background-image: url("images/background.jpg");
    background-repeat: no-repeat, no-repeat;
    height: 300px;
    width: 100%;
}

.contact-header {
    color: white;
    margin-top: 20px;
    font-size: 16px;
}

.contact-text {
    color: white;
    font-size: 8px;
}

.line {
    margin-top: 10px;
}

.line input {
    font-size: 8px;
}

.confirm {
    margin-top: 10px;
    font-size: 8px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ::-webkit-input-placeholder {
    display: grid;
    place-content: center;
    padding-bottom: 50px;
}

:-moz-placeholder {
    display: grid;
    place-content: center;
    padding-bottom: 50px;
}

::-moz-placeholder {
    display: grid;
    place-content: center;
    padding-bottom: 50px;
}

:-ms-input-placeholder {
    display: grid;
    place-content: center;
    padding-bottom: 50px;
} */

.message {
    line-height: 4em;
}

.span {
    color: rgba(65, 120, 223, 0.932);
}

.submit {
    margin-top: 10px;
    display: grid;
    place-content: center;
}

}